<h1>Productos</h1>
<div class="cards-container">
    {{#each productsInJson}}
        <div class="cards">
            <h3>ID: {{this.id}}</h3>
            <h3>Title: {{this.title}}</h3>
            <h3>Description: {{this.description}}</h3>
            <h3>Price: {{this.price}}</h3>
            <h3>Status: {{this.status}}</h3>
            <h3>stock: {{this.stock}}</h3>
            <h3>code: {{this.code}}</h3>
        </div>
    {{/each}}
</div>